parameters:
  disallowedFunctionCalls:
    -
      function: 'abort()'
      message: 'throw new Symfony\Component\HttpKernel\Exception\HttpException() instead'
    -
      function: 'abort_if()'
      message: 'use throw new Symfony\Component\HttpKernel\Exception\HttpException() instead'
    -
      function: 'abort_unless()'
      message: 'use throw new Symfony\Component\HttpKernel\Exception\HttpException() instead'
    -
      function: 'action()'
      message: 'use resolveUrlFactory()->action() instead'
    -
      function: 'app()'
      message: 'use resolveApp() instead'
    -
      function: 'app_path()'
      message: 'use resolveApp()->path() instead'
    -
      function: 'asset()'
      message: 'use resolveUrlFactory()->asset() instead'
    -
      function: 'auth()'
      message: 'use resolveAuthManager() instead'
    -
      function: 'back()'
      message: 'use resolveRedirector()->back() instead'
    -
      function: 'base_path()'
      message: 'use resolveApp()->basePath() instead'
    -
      function: 'bcrypt()'
      message: 'use resolveHasher()->make() instead'
    -
      function: 'broadcast()'
      message: 'use resolveBroadcastManager()->broadcast() instead'
    -
      function: 'cache()'
      message: 'use resolveCacheManager()->get() instead'
    -
      function: 'config()'
      message: 'use mustConfigXxx(), configXxx() instead, sample: mustConfigString('app.name')'
    -
      function: 'config_path()'
      message: 'use resolveApp()->configPath() instead'
    -
      function: 'cookie()'
      message: 'use resolveCookieJar()->make() instead'
    -
      function: 'csrf_field()'
      message: 'use @csrf'
    -
      function: 'csrf_token()'
      message: 'use resolveSession()->token() instead'
    -
      function: 'database_path()'
      message: 'use resolveApp()->databasePath() instead'
    -
      function: 'decrypt()'
      message: 'use resolveEncrypter()->decrypt() instead'
    -
      function: 'dispatch()'
      message: 'use resolveBus()->dispatch() instead'
    -
      function: 'dispatch_sync()'
      message: 'use resolveBus()->dispatchSync() instead'
    -
      function: 'dispatch_now()'
      message: 'use resolveBus()->dispatchNow() instead'
    -
      function: 'encrypt()'
      message: 'use resolveEncrypter()->encrypt() instead'
    -
      function: 'event()'
      message: 'use resolveEventDispatcher()->dispatch() instead'
    -
      function: 'info()'
      message: 'use resolveLogger()->info() instead'
    -
      function: 'logger()'
      message: 'use resolveLogger() instead'
    -
      function: 'lang_path()'
      message: 'use resolveApp()->langPath() instead'
    -
      function: 'logs()'
      message: 'use resolveLogger() instead'
    -
      function: 'method_field()'
      message: 'use @method'
    -
      function: 'mix()'
      message: 'use resolveMix() instead'
    -
      function: 'now()'
      message: 'use resolveDate()->now() instead'
    -
      function: 'old()'
      message: 'use resolveRequest()->old() instead'
    -
      function: 'policy()'
      message: 'use resolveGate()->getPolicyFor() instead'
    -
      function: 'precognitive()'
      message: 'precognitive() is banned'
    -
      function: 'public_path()'
      message: 'use resolveApp()->publicPath() instead'
    -
      function: 'redirect()'
      message: 'use resolveRedirector()->to() instead'
    -
      function: 'report()'
      message: 'use resolveExceptionHandler()->report() instead'
    -
      function: 'report_if()'
      message: 'use resolveExceptionHandler()->report() instead'
    -
      function: 'report_unless()'
      message: 'use resolveExceptionHandler()->report() instead'
    -
      function: 'request()'
      message: 'use resolveRequest() instead'
    -
      function: 'rescue()'
      message: 'use try {} catch {} instead'
    -
      function: 'resolve()'
      message: 'use inject() instead'
    -
      function: 'resource_path()'
      message: 'use resolveApp()->resourcePath() instead'
    -
      function: 'response()'
      message: 'use resolveResponseFactory()->make() instead'
    -
      function: 'route()'
      message: 'use resolveUrlFactory()->route() instead'
    -
      function: 'secure_asset()'
      message: 'use resolveUrlFactory()->secureAsset() instead'
    -
      function: 'secure_url()'
      message: 'use resolveUrlFactory()->secure() instead'
    -
      function: 'session()'
      message: 'use resolveSession()->get() instead'
    -
      function: 'storage_path()'
      message: 'use resolveApp()->storagePath() instead'
    -
      function: 'to_route()'
      message: 'use resolveRedirector()->route() instead'
    -
      function: 'today()'
      message: 'use resolveDate()->today() instead'
    -
      function: 'trans()'
      message: 'use mustTransString(), mustTransJsonString(), mustTransArray() instead'
    -
      function: 'trans_choice()'
      message: 'use resolveTranslator()->choice() instead'
    -
      function: '__()'
      message: 'use mustTransString(), mustTransJsonString(), mustTransArray() instead'
    -
      function: 'url()'
      message: 'use resolveUrlFactory()->to() instead'
    -
      function: 'validator()'
      message: 'use resolveValidatorFactory()->make() instead'
    -
      function: 'view()'
      message: 'use resolveViewFactory()->make() instead'
    -
      function: 'env()'
      message: 'use envXxx(), mustEnvXxx() instead'
  disallowedNamespaces:
    -
      namespace: 'Illuminate\Support\Facades\App'
      message: 'resolveApp() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Artisan'
      message: 'resolveArtisan() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Auth'
      message: 'resolveAuthManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Blade'
      message: 'resolveBlade() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Broadcast'
      message: 'resolveBroadcastManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Bus'
      message: 'resolveBus() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Cache'
      message: 'resolveCacheManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Config'
      message: 'resolveConfig() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Cookie'
      message: 'resolveCookieJar() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Crypt'
      message: 'resolveEncrypter() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Date'
      message: 'resolveDate() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\DB'
      message: 'resolveDatabaseManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Event'
      message: 'resolveEventDispatcher() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\File'
      message: 'resolveFilesystem() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Gate'
      message: 'resolveGate() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Hash'
      message: 'resolveHashManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Http'
      message: 'resolveHttp() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Lang'
      message: 'resolveTranslator() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Log'
      message: 'resolveLogger() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Mail'
      message: 'resolveMailManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Notification'
      message: 'resolveNotificator() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\ParallelTesting'
      message: 'resolveParallelTesting() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Password'
      message: 'resolvePasswordBrokerManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Queue'
      message: 'resolveQueueManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\RateLimiter'
      message: 'resolveRateLimiter() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Redirect'
      message: 'resolveRedirector() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Redis'
      message: 'resolveRedisManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Request'
      message: 'resolveRequest() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Response'
      message: 'resolveResponseFactory() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Route'
      message: 'resolveRouter() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Session'
      message: 'resolveSession() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Schema'
      message: 'resolveSchema() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Storage'
      message: 'resolveFilesystemManager() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\URL'
      message: 'resolveUrlFactory() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Validator'
      message: 'resolveValidatorFactory() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\View'
      message: 'resolveViewFactory() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Facades\Vite'
      message: 'resolveVite() instead'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
    -
      namespace: 'Illuminate\Support\Env'
      message: 'envXxx(), mustEnvXxx() instead, sample: mustEnvString('APP_ENV')'
      allowIn:
        - tests/*
        - src/Helpers/functions.php
        - src/Testing/*
