parameters:
  disallowedNamespaces:
    -
      namespace: 'Illuminate\Foundation\Bus\Dispatchable'
      message: 'use Tomchochola\Laratchi\Support\Resolver::resolveQueueingDispatcher()->*()'
    -
      namespace: 'Illuminate\Foundation\Bus\DispatchesJobs'
      message: 'use Tomchochola\Laratchi\Support\Resolver::resolveQueueingDispatcher()->*()'
    -
      namespace: 'Illuminate\Foundation\Events\Dispatchable'
      message: 'use Tomchochola\Laratchi\Support\Resolver::resolveEventDispatcher()->*()'
  disallowedMethodCalls:
      -
        method: 'Illuminate\Database\Schema\Blueprint::morphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::nullableMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::nullableNumericMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::nullableUlidMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::nullableUuidMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::numericMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::ulidMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
      -
        method: 'Illuminate\Database\Schema\Blueprint::uuidMorphs()'
        message: 'no unhandled foreign keys allowed, use regular foreign keys'
  disallowedStaticCalls:
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::observe()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::retrieved()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::saving()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::saved()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::updating()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::updated()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::creating()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::created()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::replicating()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::deleting()'
        message: 'no magic async code allowed, use linear code only'
      -
        method: 'Illuminate\Database\Eloquent\Concerns\HasEvents::deleted()'
        message: 'no magic async code allowed, use linear code only'
