parameters:
  disallowedMethodCalls:
    -
      method: 'Illuminate\Contracts\Config\Repository::*()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Support\Env::*()'
      message: 'use Tomchochola\Laratchi\Config\Env::inject()->*()'
      allowIn:
        - src/Config/Env.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Contracts\Translation\Translator::*()'
      message: 'use Tomchochola\Laratchi\Translation\Trans::inject()->*()'
      allowIn:
        - src/Translation/Trans.php
    -
      method: 'Illuminate\Validation\ValidationException::withMessages()'
      message: 'use Tomchochola\Laratchi\Exceptions\Thrower::default()->*()'
    -
      method: 'Illuminate\Foundation\Application::environment()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appEnv*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::isLocal()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appEnv*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::isProduction()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appEnv*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::runningUnitTests()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appEnv*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::hasDebugModeEnabled()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appEnv*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::getLocale()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appLocale()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::currentLocale()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appLocale()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::getFallbackLocale()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appFallbackLocale()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::isLocale()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->appLocale()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::setLocale()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->setAppLocale()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Foundation\Application::setFallbackLocale()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->setAppFallbackLocale()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\AuthManager::getConfig()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\AuthManager::getDefaultDriver()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->authDefaultsGuard()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\AuthManager::shouldUse()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->setAuthDefaultsGuard()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\AuthManager::setDefaultDriver()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->setAuthDefaultsGuard()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\Passwords\PasswordBrokerManager::getConfig()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->*()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\Passwords\PasswordBrokerManager::getDefaultDriver()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->authDefaultsPasswords()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
    -
      method: 'Illuminate\Auth\Passwords\PasswordBrokerManager::setDefaultDriver()'
      message: 'use Tomchochola\Laratchi\Config\Config::inject()->setAuthDefaultsPasswords()'
      allowIn:
        - src/Config/Config.php
        - src/Helpers/functions.php
